<% @questions.each do |question| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to question.title, question %></h2>
    <p class="date"><%= question.created_at.strftime("%B %d, %Y") %> by <%= question.user.email %></p>
  </div>
<% end %>