<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "icon.png" %>
	</div>

	<div id="content">
		<h1>Hey, We're Archedict Team</h1>
		<p>Welcome to my our IT Nihongo project "Ruby on Rails".</p>
	</div>
</div>