<div id="page_wrapper">
  <h1>Welcome to our IT NIHONGO's PROJECT</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">GIT Repository</a>
    sample.
  </h2>

</div>