<footer class="footer">
  <small>
    <a href="https://github.com/framgia/bk56_archedict"> ARCHEDICT チーム</a>
    で <a href="https://github.com/framgia/bk56_archedict">IT日本語の課題す</a>を作成します。
  </small>
  <nav>
    <ul>
      <li><%= link_to "概要",   "#" %></li>
      <li><%= link_to "連絡", "#" %></li>
    </ul>
  </nav>
</footer>